In [1]:
import pandas as pd
import numpy as np
import itertools

#### Read in CSVs

In [2]:
pfw_df_1988_1995_orig = pd.read_csv('../data/PFW_1988_1995_public.csv')

In [3]:
pfw_df_1996_2000_orig = pd.read_csv('../data/PFW_1996_2000_public.csv')

In [4]:
pfw_df_2001_2005_orig = pd.read_csv('../data/PFW_2001_2005_public.csv')

In [5]:
pfw_df_2006_2010_orig = pd.read_csv('../data/PFW_2006_2010_public.csv')

In [6]:
pfw_df_2011_2015_orig = pd.read_csv('../data/PFW_2011_2015_public.csv')

In [7]:
pfw_df_2016_2020_orig = pd.read_csv('../data/PFW_2016_2020_public.csv')

In [8]:
pfw_df_2021_orig = pd.read_csv('../data/PFW_2021_public.csv')

In [9]:
pfw_df_1988_1995 = pfw_df_1988_1995_orig.copy(deep=True)
pfw_df_1996_2000 = pfw_df_1996_2000_orig.copy(deep=True)
pfw_df_2001_2005 = pfw_df_2001_2005_orig.copy(deep=True)
pfw_df_2006_2010 = pfw_df_2006_2010_orig.copy(deep=True)
pfw_df_2011_2015 = pfw_df_2011_2015_orig.copy(deep=True)
pfw_df_2016_2020 = pfw_df_2016_2020_orig.copy(deep=True)
pfw_df_2021 = pfw_df_2021_orig.copy(deep=True)

#### Fix and Filter Column Headers

In [10]:
pfw_df_1988_1995.columns = pfw_df_1988_1995.columns.str.lower()
pfw_df_1996_2000.columns = pfw_df_1996_2000.columns.str.lower()
pfw_df_2001_2005.columns = pfw_df_2001_2005.columns.str.lower()
pfw_df_2006_2010.columns = pfw_df_2006_2010.columns.str.lower()
pfw_df_2011_2015.columns = pfw_df_2011_2015.columns.str.lower()
pfw_df_2016_2020.columns = pfw_df_2016_2020.columns.str.lower()
pfw_df_2021.columns = pfw_df_2021.columns.str.lower()

In [11]:
column_set = [pfw_df_1988_1995.columns,
              pfw_df_1996_2000.columns,
              pfw_df_2001_2005.columns,
              pfw_df_2006_2010.columns,
              pfw_df_2011_2015.columns,
              pfw_df_2016_2020.columns,
              pfw_df_2021.columns]

# Compare column headers
index = 1
while index < len(column_set):
    column_index = 0
    if(len(column_set[index - 1]) == len(column_set[index])):
        while column_index < len(column_set[index]):
            if(column_set[index - 1][column_index] != column_set[index][column_index]):
                print('Mismatching column headers at column index', column_index)
            column_index += 1
    else:
        print('Mismatching column lengths at indices', index - 1, 'and ' + str(index) + '.')
        while column_index < min(len(column_set[index - 1]), len(column_set[index])):
            if(column_set[index - 1][column_index] != column_set[index][column_index]):
                print('Mismatching column headers at column index ' 
                      + str(column_index) + ': "' + column_set[index - 1][column_index] + '" vs "' +
                      column_set[index][column_index] + '"')
                break
            column_index += 1
    index += 1

Mismatching column lengths at indices 5 and 6.
Mismatching column headers at column index 13: "plus_code" vs "valid"

In [12]:
print(column_set[5])
print(column_set[6])

Index(['loc_id', 'latitude', 'longitude', 'subnational1_code',
       'entry_technique', 'sub_id', 'obs_id', 'month', 'day', 'year',
       'proj_period_id', 'species_code', 'how_many', 'plus_code', 'valid',
       'reviewed', 'day1_am', 'day1_pm', 'day2_am', 'day2_pm',
       'effort_hrs_atleast', 'snow_dep_atleast', 'data_entry_method'],
      dtype='object')
Index(['loc_id', 'latitude', 'longitude', 'subnational1_code',
       'entry_technique', 'sub_id', 'obs_id', 'month', 'day', 'year',
       'proj_period_id', 'species_code', 'how_many', 'valid', 'reviewed',
       'day1_am', 'day1_pm', 'day2_am', 'day2_pm', 'effort_hrs_atleast',
       'snow_dep_atleast', 'data_entry_method'],
      dtype='object')

In [13]:
# Remove unnecessary columns, including the obsolete 'plus_code' column
valid_headers = ['obs_id',
                 'sub_id', 
                 'proj_period_id',
                 'month', 
                 'day', 
                 'year',
                 'species_code',
                 'how_many',
                 'valid',
                 'day1_am',
                 'day1_pm',
                 'day2_am',
                 'day2_pm',
                 'effort_hrs_atleast',
                 'snow_dep_atleast',
                 'data_entry_method',
                 'subnational1_code',
                 'loc_id',
                 'latitude',
                 'longitude']

In [14]:
pfw_df_1988_1995 = pfw_df_1988_1995[valid_headers]
pfw_df_1996_2000 = pfw_df_1996_2000[valid_headers]
pfw_df_2001_2005 = pfw_df_2001_2005[valid_headers]
pfw_df_2006_2010 = pfw_df_2006_2010[valid_headers]
pfw_df_2011_2015 = pfw_df_2011_2015[valid_headers]
pfw_df_2016_2020 = pfw_df_2016_2020[valid_headers]
pfw_df_2021 = pfw_df_2021[valid_headers]

#### Combine the Separate DataFrames

In [102]:
pfw_df_1988_2021 = pd.concat([pfw_df_1988_1995,
                              pfw_df_1996_2000,
                              pfw_df_2001_2005,
                              pfw_df_2006_2010,
                              pfw_df_2011_2015,
                              pfw_df_2016_2020,
                              pfw_df_2021])

In [103]:
pfw_df_1988_2021.shape

(36971663, 20)

#### Remove Invalid Observations

In [158]:
pfw_df_1988_2021 = pfw_df_1988_2021.loc[pfw_df_1988_2021.valid == 1]

In [159]:
pfw_df_1988_2021.shape

(36782264, 20)

In [160]:
pfw_df_1988_2021 = pfw_df_1988_2021.drop(labels='valid', 
                                         axis='columns')

#### Rename a few columns

In [161]:
pfw_df_1988_2021 = pfw_df_1988_2021.rename(columns={'effort_hrs_atleast':'effort_id',
                                                    'data_entry_method':'entry_id',
                                                    'subnational1_code':'state'})

#### Retain only US observations (exclude Canada)

In [162]:
sorted(pfw_df_1988_2021.state.unique().tolist())[:20]

['CA-AB',
 'CA-BC',
 'CA-MB',
 'CA-NB',
 'CA-NL',
 'CA-NS',
 'CA-NT',
 'CA-NU',
 'CA-ON',
 'CA-PE',
 'CA-QC',
 'CA-SK',
 'CA-YT',
 'MX-JAL',
 'MX-NAY',
 'NZ-OTA',
 'PM-',
 'US-AK',
 'US-AL',
 'US-AR']

In [163]:
pfw_df_1988_2021 = pfw_df_1988_2021.loc[pfw_df_1988_2021.state.str.startswith('US-')]

In [164]:
pfw_df_1988_2021.shape

(32112589, 19)

In [165]:
sorted(pfw_df_1988_2021.state.unique().tolist())[:5]

['US-AK', 'US-AL', 'US-AR', 'US-AZ', 'US-CA']

In [166]:
pfw_df_1988_2021.state.nunique()

51

In [174]:
pfw_df_1988_2021.state = pfw_df_1988_2021.state.replace(to_replace={'US-':''}, 
                                                        regex=True)

In [167]:
pfw_df_1988_2021 = pfw_df_1988_2021.reset_index(drop=True)

#### Replace NaN in numeric columns with -1 (an invalid value, to allow data type conversion)

In [170]:
for col in pfw_df_1988_2021.loc[:, 'day1_am':'effort_id']:
    pfw_df_1988_2021[col] = pfw_df_1988_2021[col].replace(to_replace=np.NaN, value=-1).astype('int64')

### Create a dimension table for Data Entry Methods

#### Consolidate Data Entry Methods Into: 'Paper = 0', 'Web = 1', and 'Mobile = 2'

In [29]:
pfw_df_1988_2021.entry_id = pfw_df_1988_2021.entry_id.replace(to_replace=['.*[Pp]aper.*', '.*[Ww]eb.*', '.*[Mm]obile.*'],
                                                              value=[0, 1, 2],
                                                              regex=True)

#### Create the dimension table

In [30]:
entry_methods_dim = pd.DataFrame(data=['Paper', 'Web', 'Mobile'], 
                                 columns=['entry_method'])
entry_methods_dim = entry_methods_dim.reset_index().rename(columns={'index':'entry_id'})
entry_methods_dim

   entry_id entry_method
0         0        Paper
1         1          Web
2         2       Mobile

### Create a dimension table for Effort in Hours

#### Replace Effort Values with Those Corrosponding to the Associated Table

In [185]:
effort_dim = pd.DataFrame(data=pfw_df_1988_2021.loc[pfw_df_1988_2021.effort_id != -1].effort_id.unique(), 
                          columns=['effort_hrs'])
effort_dim

   effort_hrs
0           1
1           4
2           0
3           8

In [186]:
effort_dim = effort_dim.replace(to_replace=[0, 1, 4, 8],
                                value=['0-1', '1-4', '4-8', '8+'])
effort_dim

  effort_hrs
0        1-4
1        4-8
2        0-1
3         8+

In [187]:
effort_dim = effort_dim.sort_values(by='effort_hrs').reset_index(drop=True)
effort_dim = effort_dim.rename(index={0:0, 1:1, 2:4, 3:8})
effort_dim = effort_dim.reset_index().rename(columns={'index':'effort_id'})
effort_dim

   effort_id effort_hrs
0          0        0-1
1          1        1-4
2          4        4-8
3          8         8+

### Read-in PFW Data Dictionary

In [35]:
data_dict_orig = pd.read_excel('../data/FeederWatch_Data_Dictionary.xlsx',
                               sheet_name='Species Codes',
                               header=1)

In [36]:
data_dict_dim = data_dict_orig.copy(deep=True)

In [37]:
data_dict_dim.columns = data_dict_dim.columns.str.lower()
data_dict_dim = data_dict_dim[['species_code',
                               'sci_name',
                               'primary_com_name',
                               'order1',
                               'family',
                               'extinct',
                               'extinct_year']]
data_dict_dim = data_dict_dim.rename(columns={'order1':'order'})

In [38]:
data_dict_dim

,species_code,sci_name,primary_com_name,order,family,extinct,extinct_year
0,scbtan2,Heterospingus xanthopygius,Scarlet-browed Tanager,Passeriformes,Thraupidae (Tanagers and Allies),0,NaN
1,fabtan1,Pipraeidea melanonota,Fawn-breasted Tanager,Passeriformes,Thraupidae (Tanagers and Allies),0,NaN
2,eurcoo,Fulica atra,Eurasian Coot,Gruiformes,"Rallidae (Rails, Gallinules, and Coots)",0,NaN
3,cubgra,Tiaris canorus,Cuban Grassquit,Passeriformes,Thraupidae (Tanagers and Allies),0,NaN
4,eurcur,Numenius arquata,Eurasian Curlew,Charadriiformes,Scolopacidae (Sandpipers and Allies),0,NaN
...,...,...,...,...,...,...,...
15961,anteup4,Euphonia musica flavifrons,Antillean Euphonia (Lesser),Passeriformes,"Fringillidae (Finches, Euphonias, and Allies)",0,NaN
15962,reisee4,Crithagra reichardi reichardi,Reichard's Seedeater (Reichard's),Passeriformes,"Fringillidae (Finches, Euphonias, and Allies)",0,NaN
15963,mouser2,Chrysocorythus estherae [estherae Group],Mountain Serin (Mountain),Passeriformes,"Fringillidae (Finches, Euphonias, and Allies)",0,NaN
15964,y01060,Serinus pusillus/serinus/syriacus,European/Fire-fronted/Syrian Serin,Passeriformes,"Fringillidae (Finches, Euphonias, and Allies)",0,NaN
15965,katmaw2,Ploceus katangae katangae,Katanga Masked-Weaver (Katanga),Passeriformes,Ploceidae (Weavers and Allies),0,NaN

### Migrate extinction info to its own table

In [39]:
extinct_species_dim = data_dict_dim.loc[data_dict_dim.extinct != 0][['species_code', 'extinct_year']].reset_index(drop=True)

In [40]:
extinct_species_dim

    species_code  extinct_year
0         guspet        1912.0
1          hawoo        1898.0
2         kakawa        1963.0
3          kioea        1900.0
4         kongro        1894.0
..           ...           ...
124      norgrd1        1800.0
125      braeme2        1877.0
126      soipio1        1897.0
127      braeme3        1860.0
128      noipio1        1902.0

[129 rows x 2 columns]

In [41]:
extinct_species_dim.extinct_year = extinct_species_dim.extinct_year.fillna(-1)
extinct_species_dim = extinct_species_dim.astype({'extinct_year': 'int32'})
extinct_species_dim = extinct_species_dim.sort_values(by='species_code').reset_index(drop=True)
extinct_species_dim

    species_code  extinct_year
0        agurew1          1995
1         akepa2          1900
2        alagre1          1950
3          amaui          1825
4        apapan2          1923
..           ...           ...
124      trimoo2          1900
125       ulahaw          1937
126      verfly8          1987
127      wairai1          1944
128      whwsan1          1790

[129 rows x 2 columns]

#### Remove redundant columns

In [42]:
data_dict_dim = data_dict_dim.loc[:, 'species_code':'family']
data_dict_dim = data_dict_dim.sort_values(by='sci_name').reset_index(drop=True)
data_dict_dim

,species_code,sci_name,primary_com_name,order,family
0,emchum1,Abeillia abeillei,Emerald-chinned Hummingbird,Caprimulgiformes,Trochilidae (Hummingbirds)
1,rufwar1,Abroscopus albogularis,Rufous-faced Warbler,Passeriformes,Scotocercidae (Bush Warblers and Allies)
2,blfwar1,Abroscopus schisticeps,Black-faced Warbler,Passeriformes,Scotocercidae (Bush Warblers and Allies)
3,yebwar1,Abroscopus superciliaris,Yellow-bellied Warbler,Passeriformes,Scotocercidae (Bush Warblers and Allies)
4,watgua1,Aburria aburri,Wattled Guan,Galliformes,"Cracidae (Guans, Chachalacas, and Curassows)"
...,...,...,...,...,...
15961,pasbab1,Zosterornis hypogrammicus,Palawan Striped-Babbler,Passeriformes,"Zosteropidae (White-eyes, Yuhinas, and Allies)"
15962,pasbab2,Zosterornis latistriatus,Panay Striped-Babbler,Passeriformes,"Zosteropidae (White-eyes, Yuhinas, and Allies)"
15963,nesbab1,Zosterornis nigrorum,Negros Striped-Babbler,Passeriformes,"Zosteropidae (White-eyes, Yuhinas, and Allies)"
15964,lusbab1,Zosterornis striatus,Luzon Striped-Babbler,Passeriformes,"Zosteropidae (White-eyes, Yuhinas, and Allies)"
15965,chfbab1,Zosterornis whiteheadi,Chestnut-faced Babbler,Passeriformes,"Zosteropidae (White-eyes, Yuhinas, and Allies)"

### Create a Family Subgroups dimension table to futher reduce redundancy

In [43]:
data_dict_dim = data_dict_dim.fillna('NaN')

In [44]:
family_list = sorted(data_dict_dim.family.unique().tolist())

In [45]:
family_dict = {}
for family in family_list:
    if family != 'NaN':
        name = family.split('(')[0].strip()
        types = family.split('(')[1][:-1]
        family_dict[name] = types

In [46]:
family_subgroups_dim = pd.DataFrame.from_dict(family_dict, orient='index', columns=['subgroups'])
family_subgroups_dim = family_subgroups_dim.reset_index().rename(columns={'index':'family'})
family_subgroups_dim

              family                              subgroups
0    Acanthisittidae                      New Zealand Wrens
1       Acanthizidae                  Thornbills and Allies
2       Accipitridae               Hawks, Eagles, and Kites
3     Acrocephalidae               Reed Warblers and Allies
4       Aegithalidae                       Long-tailed Tits
..               ...                                    ...
244         Vangidae      Vangas, Helmetshrikes, and Allies
245         Viduidae                            Indigobirds
246       Vireonidae  Vireos, Shrike-Babblers, and Erpornis
247     Zeledoniidae                             Wrenthrush
248     Zosteropidae        White-eyes, Yuhinas, and Allies

[249 rows x 2 columns]

#### Remove redundant text

In [47]:
data_dict_dim.family = data_dict_dim.family.replace(to_replace=' \(.*\)', value='', regex=True)

In [48]:
data_dict_dim

,species_code,sci_name,primary_com_name,order,family
0,emchum1,Abeillia abeillei,Emerald-chinned Hummingbird,Caprimulgiformes,Trochilidae
1,rufwar1,Abroscopus albogularis,Rufous-faced Warbler,Passeriformes,Scotocercidae
2,blfwar1,Abroscopus schisticeps,Black-faced Warbler,Passeriformes,Scotocercidae
3,yebwar1,Abroscopus superciliaris,Yellow-bellied Warbler,Passeriformes,Scotocercidae
4,watgua1,Aburria aburri,Wattled Guan,Galliformes,Cracidae
...,...,...,...,...,...
15961,pasbab1,Zosterornis hypogrammicus,Palawan Striped-Babbler,Passeriformes,Zosteropidae
15962,pasbab2,Zosterornis latistriatus,Panay Striped-Babbler,Passeriformes,Zosteropidae
15963,nesbab1,Zosterornis nigrorum,Negros Striped-Babbler,Passeriformes,Zosteropidae
15964,lusbab1,Zosterornis striatus,Luzon Striped-Babbler,Passeriformes,Zosteropidae
15965,chfbab1,Zosterornis whiteheadi,Chestnut-faced Babbler,Passeriformes,Zosteropidae

### Export Tables as CSVs

In [57]:
data_dict_dim.to_csv('../data/data_dict_dim.csv', index=False)

In [58]:
family_subgroups_dim.to_csv('../data/family_subgroups_dim.csv', index=False)

In [59]:
extinct_species_dim.to_csv('../data/extinct_species_dim.csv', index=False)

In [60]:
effort_dim.to_csv('../data/effort_dim.csv', index=False)

In [61]:
entry_methods_dim.to_csv('../data/entry_methods_dim.csv', index=False)

In [62]:
pfw_df_1988_2021.to_csv('../data/observations_fact.csv', index=False)

In [190]:
pfw_df_1988_2021.head()

,obs_id,sub_id,proj_period_id,month,day,year,species_code,how_many,day1_am,day1_pm,day2_am,day2_pm,effort_id,snow_dep_atleast,entry_id,state,loc_id,latitude,longitude
0,OBS4781763,S338425,PFW_1995,12,17,1994,blujay,1,0,1,1,1,1,0.0,paper,AR,L20416,35.02262,-93.47239
1,OBS4781764,S338425,PFW_1995,12,17,1994,brnthr,1,0,1,1,1,1,0.0,paper,AR,L20416,35.02262,-93.47239
2,OBS5488036,S338425,PFW_1995,12,17,1994,carchi,2,0,1,1,1,1,0.0,paper,AR,L20416,35.02262,-93.47239
3,OBS7279835,S338425,PFW_1995,12,17,1994,haiwoo,1,0,1,1,1,1,0.0,paper,AR,L20416,35.02262,-93.47239
4,OBS7279836,S338425,PFW_1995,12,17,1994,houspa,3,0,1,1,1,1,0.0,paper,AR,L20416,35.02262,-93.47239

In [65]:
pfw_df_1988_2021.day1_am.unique().tolist()

[0.0, 1.0, nan]

In [66]:
pfw_df_1988_2021.day1_pm.unique().tolist()

[1.0, 0.0, nan]

In [67]:
pfw_df_1988_2021.day2_am.unique().tolist()

[1.0, nan, 0.0]

In [68]:
pfw_df_1988_2021.day2_pm.unique().tolist()

[1.0, 0.0, nan]

In [79]:
pfw_df_1988_2021.dtypes

obs_id               object
sub_id               object
proj_period_id       object
month                 int64
day                   int64
year                  int64
species_code         object
how_many              int64
day1_am             float64
day1_pm             float64
day2_am             float64
day2_pm             float64
effort_id           float64
snow_dep_atleast    float64
entry_id              int64
state                object
loc_id               object
latitude            float64
longitude           float64
dtype: object